<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Redeem</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

   

 
  </ion-toolbar>
</ion-header>




<ion-content padding>
  <ion-list>
    <ion-item >
      <ion-label>
    Amazon </ion-label><ion-button slot="end" shape="round"  (click)="presentAlert()">Redeem</ion-button>
      
    </ion-item>
      <ion-item >
      <ion-label>
    Flipkart
  </ion-label>
  <ion-button slot="end" shape="round" (click)="presentAlert()">Redeem</ion-button>
      
    </ion-item>
    <ion-item >
      <ion-label>
    Sarva
  </ion-label>
  <ion-button slot="end" shape="round" (click)="presentAlert()">Redeem</ion-button>
      
    </ion-item>
    <ion-item >
      <ion-label>
      Mindfit
    </ion-label><ion-button slot="end" shape="round" (click)="presentAlert()">Redeem</ion-button>

      
    </ion-item>
    <ion-item >
      <ion-label>
      Therapist
    </ion-label>
    <ion-button slot="end" shape="round" (click)="presentAlert()">Redeem</ion-button>
      
    </ion-item>



  </ion-list>
</ion-content>
