<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reg</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="lock"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <form [formGroup]="new_item_form" (submit)="createItem(new_item_form.value)">
    <ion-item>
      <ion-label color="primary" position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">phone no</ion-label>
      <ion-input type="text" formControlName="phone" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Emergency no</ion-label>
      <ion-input type="text" formControlName="emergency" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Category</ion-label>
      <ion-input type="text" formControlName="category" required></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!new_item_form.valid">Create</ion-button>
  </form>

</ion-content>